  <style type="text/css">
  @media (max-width:768px) {
	.save-buttons {
    margin-top: 50px;
	}
  }
  iframe:hover {
	border: 1px solid #FF00;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #cke_1_contents, #cke_2_contents, #cke_3_contents, #cke_4_contents, #cke_5_contents{
	height:500px !important;
  }
  
  .input-upload{
	margin-left:16px;
  }
  .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
 .fileUpload-sms {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload-sms input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

    .product-listing {
       background-color:#fff;
       border-radius:5px;
       box-shadow:0 2px 10px 0 rgba(138,168,230,.2);
       padding:20px;
       position:relative;
       overflow:hidden;
       display:block;
       transition:box-shadow .3s ease,-webkit-transform .3s ease;
       transition:transform .3s ease,box-shadow .3s ease;
       transition:transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease
    }

  .mleft{
	margin-left:10px;
  }
  .upload-options{
	margin-top:50px;
  }
  
  .search-btn{
	margin-top:25px;
	<!-- margin-left:-27px; -->
  }
  .save-buttons{
	margin-top:356px;
  }
.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}
.nav-1{
    background-color: #ccc;
        border-radius: 20px 0px 0px 20px;
    max-width: 150px;
    color: #fff;
}
.nav-2{
    background-color: #ccc;
        border-radius: 0px 20px 20px 0px;
    max-width: 150px;
    color: #fff;
}

.nav-11:hover{
    background-color: #4dbae3 !important;
    max-width: 150px;
    color: #fff !important;
}
.nav-11:focus{
    background-color: #4dbae3 !important;
    max-width: 150px;
    color: #fff !important;
}
.nav-j{
    max-width: 200px !important;
}
.new-btn{
  background-color: #4dbae3;
  border-radius: 20px;
  color: #fff;
}
.up-box{
      padding: 30px 0px;
}
.up-box>h4{
      padding: 10px;
      background-color: #4dbae3;
      color: #fff;
}
.up-boxp:hover{

      background-color: #fff;
}
.up-boxp{
    background: #f5f5f5;
    padding: 15px;
    border: 1px solid #ccc;
}
.box-f2{
  background: #fff;
    padding: 20px;
    margin: -10px;
    text-align: center;
     transition: 0.5s all;
    
}
.box-f2:hover{
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.box-f{
  background: #fff;
    padding: 20px;
    margin: -10px;
    text-align: center;
     transition: 0.5s all;
         width: 337px;
    
}
.box-f:hover{
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.box-f1{
  background: #fff;
    padding: 20px;
    margin: -10px;
    text-align: center;
     transition: 0.5s all;
    
}
.box-f1:hover{
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #ccc;
}



@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

  </style>